@page "/Manual/Category_doc"
@layout DocumentLayout

<h3>Category</h3>
<p style="font-size:15px"># Save /Update/Delete Category or Segment</p>
<img src="images/ManualImage/categoryImage.PNG" style="width:100%" />
@code {

}
