@page "/Manual/RequisitionApproval_doc"
@layout DocumentLayout
<h3>RequisitionApproval</h3>
 
<p style="font-size:15px"># Admin will see and change status Approved or Not Approved from Drop down manu  then click <b>Done</b> Button</p>
<img src="images/ManualImage/requisition_approval.PNG" style="width:100%"/>

@code {

}
